/* main content */

textarea {
  resize: none;
}

#main-content-flex {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

/* main components */

#category-container{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#settings-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#settings {
  margin: 5px;
  border-radius: 10px;
}

#category-select{
  border-width: 5px;
  border-radius: 10px;
}

.category-card {
  flex: 1;
  margin: 10px;
}

.item {
  margin: 10px;
}

.settings-item {
  margin: 5px;
}

#keyboard {
  border: 10px;
  border-radius: 10px;
}

#bottom-bar {

}

#synth {
  flex: 1;
  order: 2;
  display: flex;
  height: 250px;
  width: 1000px;
}

.pianoKey {
  flex: 1;
  height: 100%;
  width: 5%;
  border-color: #BB86FC;
  border-style: solid;
  border-width: 2px;
}