/* main content */

#main-content-flex {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

/* main components */

#category-select {

}

#settings {

}

#keyboard {

}

#bottom-bar {

}

#synth {
  flex: 1;
  order: 2;
  display: flex;
  height: 250px;
  width: 1000px;
}

.pianoKey {
  flex: 1;
  height: 100%;
  width: 5%;
  border-color: #BB86FC;
  border-style: solid;
  border-width: 2px;
}