/*
* https://material.io/design/color/dark-theme.html
*/
#keyboard {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 375px;
}

.pianoKey {
  display: inline-block;
  height: 95%;
  width: 2.25%;
  border-color: #BB86FC;
  border-style: solid;
  border-width: 2px;
}
