/*
* https://material.io/design/color/dark-theme.html
*/
#keyboard {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 80%;
  height: 43%;
}

.pianoKey {
  flex: 1;
  height: 100%;
  width: 5%;
  border-color: #BB86FC;
  border-style: solid;
  border-width: 2px;
}
