/*
* https://material.io/design/color/dark-theme.html
*/

textarea {
  resize: none;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-around;
}

#keyboard {
  padding: 5px;
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 250px;
}

#settings {
  margin: auto;
  display: flex;
  flex-direction: row;
  top: 50%;
  width: 75%;
  height: 43%;
}

.pianoKey {
  flex: 1;
  height: 100%;
  width: 5%;
  border-color: #BB86FC;
  border-style: solid;
  border-width: 2px;
}

.settings-panel {
  flex: 1;
  height: 50px;
  width: 33.33%;
}
